name: Deploy to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to IIS folder
        run: |
          xcopy /E /I /Y * C:\inetpub\wwwroot\mysite\
